<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>{{ engine_name }} Search Engine</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="container">
        <div id="logo">
             <h1>{{ engine_name }}<br/></h1>
        </div>
        <form action="search" method="GET">
            <input id="searchbar" type="text" placeholder="Type something to search..." name="query">
            <input type="submit" value="Search" />
        </form>
    </div>
</body>
</html>