<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ engine_name }}</title>

    <!-- Import our custom stylesheet. -->
    <link rel="stylesheet" href="../static/style.css">

    <!-- Import stylesheet and scripts for JQuery. We'll make use of autocomplete. -->
    <link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
    <script src="//code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>

    <!-- Enable autocomplete and callback to our "searchbar" route defined in our flask app. -->
    <script type="text/javascript">
        $(function() {
            $("#index-searchbar").autocomplete({
                source:function(request, response) {
                    $.getJSON("{{url_for('autocomplete')}}",{
                        // this can be retrieved in flask via request.args.get('qtext')
                        qtext: request.term,
                    }, function(data) {
                        response(data.matching_results);
                    });
                },
                minLength: 2
            });
        })
    </script>
</head>
<body>
    <div id="index-container">
        <div id="index-logo">
             <h1>{{ engine_name }}<br/></h1>
        </div>
        
        <!-- Create a new form that submits a GET request to our search route. -->
        <form id="index-form" action="search" method="GET" autocomplete="off">
            <div id="index-form-container">
                <!-- Save the searchbar text into a variable "query" that can be accessed in our search route function. -->
                <input name="query" id="index-searchbar" type="text" placeholder="Type something to search..." class="form-control" autocomplete="off">
                <input type="submit" value="Search" />
            </div>
            <br>
            <div id="index-form-options">
                <!-- Add selection for sorting method. -->
                <div id="index-sort-option-container">
                    <label for="sort_method">Sort by:</label>
                    <select name="sort_method" id="index-sort-select-option">
                        <option value="alphabetically">alphabetically</option>
                        <option value="frequency">frequency</option>
                        <option value="payment">payment</option>
                    </select>
                </div>
                <!-- Add selection for displaying number of results per page. -->
                <div id="index-nresults-option-container">
                    <label for="nperpage">Results per page:</label>
                    <select name="nperpage" id="index-nresults-select-option">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</body>
</html>