<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ engine_name }} Search Engine</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div id="container_search">
        <div id="logo_search">
            <h1>{{ engine_name }}</h1>
        </div>
        <!-- The "query" variable was initially set in index.html. This redisplays the user's search. -->
        <input id="searchbox_search" name="title" type="text" value="{{ query }}" readonly>
    </div>
    <hr>
    <h2 id="search_header">Search results...</h2>
    <div id="results_container">
        {% for res in results %}
        <a href="{{ res }}" class="result" target="_blank">{{ res }}</a>
        <br>
        {% endfor %}
    </div>
</body>
</html>