html, body {
    text-align: center;
}

#container {
    margin-top: 200px;
    margin-right: auto;
    margin-left: auto;
}

#logo {
    color: red;
    font-style: italic;
    font-size: xx-large;
    text-align: center;
    margin-bottom: 0px;
}

#searchbar {
    width: 25%;
}

#container_search {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: left;
}

#logo_search {
    color: red;
    font-style: italic;
    font-size: small;
    float: left;
    display: block;
    margin-right: 25px;
}

#searchbox_search {
    text-align: left;
    display: block;
    margin-top: center;
    width: 25%;
}

.result {
    text-align: left;
    display: block;
    margin-top: center;
    width: 25%;
}

#search_header {
    text-align: left;
}

#form_options {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

#sort_option_container {
    margin-right: 30px;
}

input {
    height: 20px;
}