<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thunder Search Engine</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <h1>Thunder<br/></h1>
        </div>
        <form action="search" method="GET">
            <input class="searchbar" type="text" placeholder="Type something to search..." name="query">
            <input type="submit" value="Search" />
        </form>
    </div>
</body>
</html>